= simple_form_for(:product, url: add_product_by_code_checkout_path(i), remote: true, html: { class: 'form-inline'}) do |f|
      = f.input :code, required: true, input_html: { class: 'uppercase mr-3' }, label: false
      = f.button :submit, value: 'Add product by code', class: 'btn-primary'