@import 'bootstrap/scss/bootstrap';


// FORM

input.uppercase {
  text-transform: uppercase;
  ::-webkit-input-placeholder { /* WebKit browsers */
      text-transform: none;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      text-transform: none;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
      text-transform: none;
  }
  :-ms-input-placeholder { /* Internet Explorer 10+ */
      text-transform: none;
  }
  ::placeholder { /* Recent browsers */
      text-transform: none;
  }
}


// FLASH MESSAGES
.alerts {
    position: fixed;
    top: 60px;
    right: 0;
    z-index: 2000;
}
// OTHER

body {
  padding-top: 5rem;
}